html {
  font-size: 14px;
  background-color: #14181c;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
body{
  background-color: #14181c;
  color: rgba(255, 255, 255, 0.959);

}
.background-container {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1478720568477-152d9b164e26?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  height: 400px;
}
/* *** Home - Index *** */
.welcome-text {
  top: 20%;
  right: 10%;
  position: fixed;
  font-size: 30px;
  font-weight: bolder;
  color: #1f8838;
}

.welcome {
  position: fixed;
  top: 250px;
  right: 330px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.welcome-button {
  position: fixed;
  bottom: 250px;
  right: 220px;
}

body {
  margin-bottom: 60px;
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Films */
.film-box {
  box-sizing: border-box;
  display: flex;
  column-gap: 20px;
}

.col-3 {
  flex: 0 0 25%; 
}

.card-body{
  background-color: rgb(240, 240, 240);
}

.film-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 15px;
  position: relative;
}

  .film-item .image {
    width:100%;
    height: 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0;
  }
  .film-item .film-title {
    color: black;
    text-align: center;
  }

.buttons button{
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  opacity: 1;
  transition: 3s ease opacity;
}
  .buttons button:hover{
    opacity: .5;
  }
  .buttons .button-blue{
    background-color: #258cfb;
  }
  .buttons .button-red{
    background-color: red;
  }


 /* *** Nav-bar *** */  


.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 16px 32px;
    border-radius: 6px;
}

.navbar ul li a:hover {
    background-color: #198754;
    border-color: #198754;
}
